function Main.main 1
push constant 42
push constant 4
call String.new 1
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 111
call String.appendChar 2
call Animal.new 2
pop local 0
push local 0
push constant 50
call Animal.maybe_speak 2
pop temp 0
push constant 0
return

